.s-loyalty-member {
    display: flex;
}

.s-label-span-loyalty {
    font-size: 15px;
    font-weight: bold;
}

.s-content-loyalty {
    color: #5656568a;
    font-size: 15px;
    font-weight: 500;
}

.s-label-loyalty{
    width: 200px;
}