.izi_view {
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    font-family: 'Roboto';
}
.izi_flex{
    display: flex;
}

.izi_view_analysis {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    padding: 15px;
    background: #E9ECEF;
    z-index: 9;
}

.izi_view_analysis .izi_dashboard_block_item{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.izi_config_analysis {
    background: white;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    overflow-y: auto;
    border-right: 2px solid #EEE;
}

.izi_view_dashboard {
    background: #E9ECEF;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 150%;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.izi_view_visual {
    position: relative;
    display: flex;
    padding: 0px;
    /* margin: 20px; */
    margin-top: 0px;
}
.izi_view_visual .izi_reset_drilldown {
    display: none;
    z-index: 10;
    background: #F4F4F4;
    border-radius: 8px;
    font-size: 14px;
    width: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -20px;
    opacity: 0.5;
}
.izi_view_visual .izi_reset_drilldown:hover {
    opacity: 1;
}

.izi_view_visual .gridjs-container {
    font-size: 13px;
    margin: 20px;
    margin-top: 10px;
    overflow: auto;
}

.izi_view_background{
    background: #E9ECEF;
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    flex-wrap: wrap;
}

.izi_dashboard_block_item_v_background{
    background: #E9ECEF !important;
    box-shadow: none !important;
}

.izi_view_analysis_explore_header {
    position: fixed;
    top: 20px;
    right: 50px;
    left: 50px;
    height: 80px;
    background: #E9ECEF;
    z-index: 1000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.izi_view_analysis_explore {
    position: fixed;
    top: 100px;
    right: 50px;
    left: 50px;
    bottom: 80px;
    padding: 10px;
    background: white;
    z-index: 1000;
    overflow: scroll;
    font-size: 8px;
}

.izi_view_analysis_explore_footer {
    position: fixed;
    bottom: 20px;
    right: 50px;
    left: 50px;
    height: 60px;
    background: #E9ECEF;
    z-index: 1000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.izi_view_analysis_explore .izi_view_analysis_explore_container {    
    float: left;
    width: 24%;
    height: 300px;
    background: transparent;
    background-color: white;
    margin: 0.5%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.izi_view_analysis_explore .izi_view_analysis_explore_container:hover,
.izi_view_analysis_explore .izi_view_analysis_explore_container.active {    
    border: 1px solid #06c;
}


.izi_view_analysis_explore .izi_view_analysis_explore_container.active {
    border: 4px solid #06c;
}

.izi_view_analysis_explore_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.55;
    z-index: 9;
}

.izi_view_analysis_explore_footer > .izi_btn {
    float: right;
    margin-left: 10px;
}

.izi_view_analysis_explore_header {
    padding: 15px;
    font-size: 20px;
    background: white;
    font-weight: bold;
    text-align: center;
}

.izi_view_analysis_explore_header .subtitle{
    font-weight: 300;
    font-size: 14px;
    display: block;
}

.izi_view_analysis_explore_footer {
    background: white;
    padding: 10px 20px;
}

.izi_view_analysis_explore_content {
    width: 100%;
    height: 100%;
}
.izi_view_analysis_explore_title {
    font-size: 10px;
    margin-bottom: -5px;
    font-weight: 300;
    text-align: center;
}

.izi_view_analysis_explore_footer .izi_select2 {
    float: right;
    width: 250px;
}

.izi_view_analysis_explore_footer .izi_select2 .select2-choice{
    height: 34px;
    margin-top: 0px;
    margin-right: 6px;
}

.izi_view_analysis_explore_footer .izi_select2 .select2-chosen {
    line-height: 32px;
}